In [ ]:
#String

In [35]:
a = "Hello"
b = "Hello"
print(type(a),type(b))

<class 'str'> <class 'str'>

In [34]:
a = "Hello"
b = "World"
print(a+b)

HelloWorld

In [ ]:
#also look use of \n

a = "Hello\n"
print(a*5)

In [ ]:
a = input("Enter name: ")
print(type(a))
print(a)

In [ ]:
a = "python"
for i in a:
    print (i)

In [ ]:
a = "python"
for i in a:
    print (i,end = "")

In [ ]:
a = "python"
for i in a:
    print (i,end = " ")

In [ ]:
a = "Hello World"
print(a[1])

In [ ]:
a = "Hello World"
print(a[0:5])

In [ ]:
a = "Hello World"
print(a[0:10:2])

In [ ]:
a = "Hello World"
n = len(a)
print(a[n-1::-1])

In [ ]:
#string formatting

name = input("Enter name: ")
age = int(input("Enter age: "))
address = input("Enter address: ")
info = f"Hello I am {name}. My age is {age} and I am from {address}."
print(info)

In [3]:
data = ""
n = int(input("Enter number of students: "))
for i in range(n):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    address = input("Enter address: ")

    info = f"Hello I am {name}. My age is {age} and I am from {address}.\n"
    data = data + info
print(data)

Enter number of students: 2
Enter name: s
Enter age: 2
Enter address: f
Enter name: ee
Enter age: 33
Enter address: f
Hello I am s. My age is 2 and I am from f.
Hello I am ee. My age is 33 and I am from f.

In [ ]:
a = "Ram Shyam Hari  Shyam Nita"
if "Ram" in a:
    print("Yes")
else:
    print("No")

In [2]:
a = "Ram Shyam Ram Hari hari"
name = input("Name: ")
if name in a:
    c = a.count(name)
    print(f"Yes. There is {c} {name}.")
else:
    print("No")

Name: Ram
Yes. There is 2 Ram.

In [3]:
a = "Ram"
print(a.upper())
print(a.lower())

RAM
ram

In [4]:
name = input("Name: ").upper()
print(name)

Name: ram
RAM

In [5]:
a = "Ram Shyam Ram Hari hari".lower()
name = input("Name: ").lower()
if name in a:
    c = a.count(name)
    print(f"Yes. There is {c} {name}.")
else:
    print("No")

Name: hari
Yes. There is 2 hari.

In [6]:
a = "Ram Shyam Ram Hari hari"
b = a.lower()
name = input("Name: ").lower()
if name in b:
    c = b.count(name)
    print(f"Yes. There is {c} {name}.")
else:
    print("No")

Name: RAM
Yes. There is 2 ram.

In [15]:
#replace     a.replace('<initial_value>','<final_value')

#remove

#String is immutable

a = "Ram Shyam Ram Hari hari Shyam shyam hari Hari Hari"
b = a.replace("Ram","Binod")
print(b)

Binod Shyam Binod Hari hari Shyam shyam hari Hari Hari

In [8]:
print(a)

Ram Shyam Ram Hari hari Shyam shyam hari Hari Hari

In [39]:
#Changing strings into array
# Using split function


a = "Ram Shyam Ram Hari hari Shyam shyam hari Hari Hari"
b = a.split()
print(b)

['Ram', 'Shyam', 'Ram', 'Hari', 'hari', 'Shyam', 'shyam', 'hari', 'Hari', 'Hari']

In [54]:
data = ""

n = int(input("Enter number of students: "))

for i in range(n):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    address = input("Enter address: ")
    
    
    info = f"{i} {name}-----{age}----{address}\n"
    
    data = data + info
    
print(data)

Enter number of students: 2
Enter name: Ram
Enter age: 2
Enter address: w
Enter name: Shyam
Enter age: 3
Enter address: q
0 Ram-----2----w
1 Shyam-----3----q

In [4]:
d = data.split('\n')

In [5]:
d[1]

'Hello I am ee. My age is 33 and I am from f.'