In [1]:
# Datatype - Tuple

# - follow indexing
# - carry duplicate members
# - ordered
# - imutable

In [3]:
a = ()        # can be defined as
b = tuple()   # can be defined as
print(a,b)
print(type(a),type(b))

() ()
<class 'tuple'> <class 'tuple'>

In [7]:
# Follows indexing

a = ("Apple", "Ball", "Cat", "Dog")
print(a[3])

Dog

In [10]:
# Can Carry duplicate values

a = ("Apple", "Ball", "Cat", "Dog", "Apple", )
print(a)

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')

In [20]:
# Ordered
a = ("Apple","Ball")
b = ("Cat", "Dog")
print(a+b)
print(b+a)

('Apple', 'Ball', 'Cat', 'Dog')
('Cat', 'Dog', 'Apple', 'Ball')

In [15]:
a = ("Cat")     #this is string
print(type(a))

b = ("Cat",)    #this is tuple
print(type(b))

<class 'str'>
<class 'tuple'>

In [17]:
b = tuple("Cat")  #This is changing the string into tuple
b

('C', 'a', 't')

In [26]:
# creating tuple using loop

y = ()
n = int(input("Enter n: "))
for i in range(n):
    x = int(input("ENter the value of x: "))
    y = y + (x,)
    
print(y)

Enter n: 3
ENter the value of x: 12
ENter the value of x: 11
ENter the value of x: 31
(12, 11, 31)

In [31]:
#Converting tuple into list

x = (32, 13, 44)

y = list(x)   #Changing tuple into list 

x = tuple(y)  #Changing list into tuple

print(y)
print(x)

[32, 13, 44]
(32, 13, 44)

In [33]:
# multidimentional tuple

a = ((),(),(),())
print(type(a))

<class 'tuple'>

In [38]:
a = ((1,2,3),(4,2,1),(3,12,22),(1,22,22))

print(a)

print(a[0])

((1, 2, 3), (4, 2, 1), (3, 12, 22), (1, 22, 22))
(1, 2, 3)

In [47]:
# tuple inside tuple

z = ()
r = int(input("Enter r: "))
c = int(input("Enter c: "))

for i in range(r):
    y=()
    for j in range (c):
        x = int(input("Enter x: "))
        y = y + (x,)
    z = z + (y,)
print(z)

Enter r: 2
Enter c: 3
Enter x: 11
Enter x: 22
Enter x: 33
Enter x: 44
Enter x: 55
Enter x: 66
((11, 22, 33), (44, 55, 66))

In [46]:
# list inside tuple

a = ([],[],[])
type(a)
a[0].append(4)
a

([4], [], [])

In [44]:
a = [(),(),()]
type(a)

list

In [50]:
#list inside tuple

a = ([1,2,3],[2,3,1])
b = a + ([11,22,13],)
b

([1, 2, 3], [2, 3, 1], [11, 22, 13])

In [54]:
#list inside tuple

z = ()
r = int(input("Enter r: "))
c = int(input("Enter c: "))

for i in range(r):
    y=[]
    for j in range (c):
        x = int(input("Enter x: "))
        y = y + [x]
    z = z + (y,)
print(z)

Enter r: 2
Enter c: 2
Enter x: 11
Enter x: 22
Enter x: 33
Enter x: 11
([11, 22], [33, 11])

In [55]:
# list inside tuple

z = ()    # tuple
r = int(input("Enter r: "))
c = int(input("Enter c: "))

for i in range(r):
    y=[]   # list
    for j in range (c):
        x = int(input("Enter x: "))
        y.append(x)   # appending value of x in list y
    z = z + (y,)      # concatinating list y in th format tuple as (y, ) in typle z
print(z)

Enter r: 2
Enter c: 2
Enter x: 11
Enter x: 22
Enter x: 33
Enter x: 33
([11, 22], [33, 33])

In [57]:
# tuple inside list

z = []                         # list
r = int(input("Enter r: "))
c = int(input("Enter c: "))

for i in range(r):
    y=()                       # tuple
    for j in range (c):
        x = int(input("Enter x: "))
        y = y + (x,)      # concatinating tuples
    z.append(y)           # appending tuple into list
print(z)

Enter r: 2
Enter c: 2
Enter x: 11
Enter x: 22
Enter x: 33
Enter x: 44
[(11, 22), (33, 44)]

In [63]:
a  = ((),(),())
type(a)
print(type(a))

b = list(a[0])    #use loop to convert every tuple which are inside tuple as below in next cell
type(b)
print(type(b))

<class 'tuple'>
<class 'list'>

In [64]:
# changing tuple inside tuple into list inside list

b = []
a = ((1,2,3),(2,3,4),(4,5,6))
for i in a:
    x = list(i)
    b.append(x)
print(b)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]