In [1]:
#List 2nd class

# remove , del, pop

In [2]:
#remove()

a = ["Apple", "Ball", "Cat", "Dog", "Fish"]
a.remove("Apple")
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [3]:
#remove()

a = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
a.remove("Apple")
print(a)

['Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [5]:
#remove()

a = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
n = a.count("Apple")
for i in range(n):
    a.remove("Apple")
    
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [9]:
#remove()

a = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
for i in a:
    if i == "Apple":
        a.remove(i)
    
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [10]:
#del

a = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
del a[0]
print(a)

['Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [11]:
#del

a = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
del a[0:3]
print(a)

['Dog', 'Fish', 'Apple']

In [15]:
#pop :always delete last element if the value is not given
#    : can be used to move the value

a = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
a.pop()
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [16]:
#pop

a = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
a.pop(2)
print(a)

['Apple', 'Ball', 'Dog', 'Fish', 'Apple']

In [17]:
#pop

a = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
b = a.pop(2)
print(a)
print(b)

['Apple', 'Ball', 'Dog', 'Fish', 'Apple']
Cat

In [19]:
# clear

a = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
a.clear()
a

[]

In [28]:
# List inside list
# multi dimentional list
a = [[],[],[]]
type(a)

list

In [22]:
a = [[],[],[]]
print(type(a))
print(len(a))

<class 'list'>
3

In [27]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [1]:
a = []
n = int(input("Enter n: "))
for i in range(n):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    add = input("Enter address: ")
    info = [name,age,add]
    a.append(info) 

print(a)

Enter n: 2
Enter name: Ram
Enter age: 12
Enter address: Ktm
Enter name: Shyam
Enter age: 11
Enter address: Bkt
[['Ram', 12, 'Ktm'], ['Shyam', 11, 'Bkt']]

In [4]:
a = [['Ram', 12, 'Ktm']]
b = [['Shyam', 11, 'Ktm']]
a+b

[['Ram', 12, 'Ktm'], ['Shyam', 11, 'Ktm']]

In [19]:
a = [['Ram', 12, 'Ktm']]
b = [['Shyam', 11, 'Ktm']]
c = a+b
print(c[0])
print(c[0][0])

c[0][0] = "Hari"
c

['Ram', 12, 'Ktm']
Ram

[['Hari', 12, 'Ktm'], ['Shyam', 11, 'Ktm']]

In [20]:
c[0].append("Nepal")
c

[['Hari', 12, 'Ktm', 'Nepal'], ['Shyam', 11, 'Ktm']]

In [21]:
c[0].insert(0,"Binod")
c

[['Binod', 'Hari', 12, 'Ktm', 'Nepal'], ['Shyam', 11, 'Ktm']]

In [24]:
# matrix

z = []
r = int(input("Enter r: "))
c = int(input("Enter c: "))

for i in range(r):
    y=[]
    for j in range (c):
        x = int(input("Enter x: "))
        y.append(x)
    z.append(y)
print(z)

Enter r: 2
Enter c: 3
Enter x: 1
Enter x: 2
Enter x: 3
Enter x: 4
Enter x: 4
Enter x: 5
[[1, 2, 3], [4, 4, 5]]

In [25]:


output = []
n = int(input("Enter n: "))
for i in range(n):
    name = input("Enter name: ")
    price = int(input("Enter price: "))
    quantity = int(input("Enter quantity: "))
    total = price*quantity
    info = [name,price,quantity,total]
    output.append(info) 

print(output)

Enter n: 2
Enter name: w
Enter price: 2
Enter quantity: 1
Enter name: r
Enter price: 3
Enter quantity: 2
[['w', 2, 1, 2], ['r', 3, 2, 6]]

In [32]:
# Storing the string data in list
# helps in file stored data 
# helps to extract data from file to perform operations in data


data =""
n = int(input("Enter n: "))
for i in range (n):
    name = input("Enter name: ")
    age = input("Enter age: ")
    add = input("Enter add: ")
    info = f"{name}----{age}----{age}\n"
    data = data + info
print(data)

Enter n: 2
Enter name: ww
Enter age: 22
Enter add: ee
Enter name: ee
Enter age: 21
Enter add: www
ww----22----22
ee----21----21

In [33]:
x = data.split("\n")[0:-1]
x

['ww----22----22', 'ee----21----21']

In [37]:
splited_value = []
for i in x:
    output = i.split("----")
    splited_value.append(output)
    
splited_value

[['ww', '22', '22'], ['ee', '21', '21']]