In [65]:
#  Set
# - does not follow indexing
# - unordered
# - no duplicate members
# - mutable

In [6]:

a = {1,2,3,4}    #set
b = set()
print(type(a))
print(type(b))

<class 'set'>
<class 'set'>

In [10]:
# example of does not follow indexing

a = {1,2,3,4,5,6,7,8,9}
a[0]

TypeError: 'set' object is not subscriptable

In [14]:
# unorderd

a = {1,3,7,8,4,2}
print(a)

{1, 2, 3, 4, 7, 8}

In [18]:
# no duplicate members
# Duplicate values are printed only once

a = {1,3,7,8,4,7,1,3,2}
print(a)
print(len(a))

{1, 2, 3, 4, 7, 8}
6

In [19]:
# mutable 

a = set()
b = "Apple"
c = "Cat"
a.add(b)
a.add(c)
print(a)

{'Cat', 'Apple'}

In [23]:
#creating user-defined set 

s = set()
n = int(input("Enter n: "))
for i in range (n):
    a = input("Enter a: ")
    s.add(a)
print(s)

Enter n: 3
Enter a: Ram
Enter a: Shyam
Enter a: Binod
{'Binod', 'Ram', 'Shyam'}

In [25]:
# mathematical operators doesn't work for set
# uses only functions
# update()

a = {1,2,3,4}
b = {3,2,6,7}
a.update(b)
print(a)

{1, 2, 3, 4, 6, 7}

In [28]:
#removing duplicate values from list[] using set()

a = [1,2,3,4,5,3,2,3,5,7,7,8,11]
b = set(a)
a = list(b)
print(a)

[1, 2, 3, 4, 5, 7, 8, 11]

In [34]:
#union

abc = {"Ram", "Shyam", "Sita", "Gita", "Nabin"}
xyz = {"Hari", "Nita", "Nabin", "Nobita", "Sita"}
print(xyz.union(abc))
print(xyz)

{'Nita', 'Nabin', 'Sita', 'Ram', 'Shyam', 'Hari', 'Gita', 'Nobita'}
{'Nita', 'Nabin', 'Sita', 'Hari', 'Nobita'}

In [51]:
#intersection

abc = {"Ram", "Shyam", "Sita", "Gita", "Nabin"}
xyz = {"Hari", "Nita", "Nabin", "Nobita", "Sita"}
xyz.intersection(abc)

{'Nabin', 'Sita'}

In [52]:
#difference

abc = {"Ram", "Shyam", "Sita", "Gita", "Nabin"}
xyz = {"Hari", "Nita", "Nabin", "Nobita", "Sita"}

print(xyz.difference(abc))

print(abc.difference(xyz))

{'Nita', 'Nobita', 'Hari'}
{'Gita', 'Ram', 'Shyam'}

In [53]:
# union and intersection in three sets 

abc = {"Ram", "Shyam", "Sita", "Gita", "Nabin"}
xyz = {"Hari", "Nita", "Nabin", "Nobita", "Sita"}
efg = {"Ram", "Binod", "Nita", "Sita"}
print(xyz.union(abc,efg))
print(xyz.intersection(abc,efg))

{'Binod', 'Nita', 'Nabin', 'Sita', 'Ram', 'Shyam', 'Hari', 'Gita', 'Nobita'}
{'Sita'}

In [54]:
# to check if sets are joint or disjoint

abc = {"Ram", "Shyam", "Sita", "Gita", "Nabin"}
xyz = {"Hari", "Nita"}
abc.isdisjoint(xyz)

True

In [55]:
# subset

a = {1,2,3,4,5,6,7,8,9,0}
b = {0,1}
b.issubset(a)

True

In [57]:
#superset

a = {1,2,3,4,5,6,7,8,9,0}
b = {0,1}
a.issuperset(b)

True

In [58]:
#set inside set cannot exist
a = {{1,2},{2,3}}

TypeError: unhashable type: 'set'

In [59]:
# list inside set does not exist
# bcause list are mutable as set is immutable

a = {[1,2,3], [2,3,4]}

TypeError: unhashable type: 'list'

In [61]:
# tuple inside set can exist
# bcause tuple are immutable as set is also immutable
# used to freeze the data

a = {(1,2),(2,3)}
a

{(1, 2), (2, 3)}

In [63]:
# remove and add can be done but update cannot be done in set

a = {1,2,3,4,5}
a.remove(5)
print(a)

{1, 2, 3, 4}

In [66]:
# set inside tuple inside set does not exist

a = {(1,2,3,{5}),(2,3)}
a

TypeError: unhashable type: 'set'